.btndanger{
    background-color:brown;
    cursor: pointer;
    border: none;
    box-shadow: 0.1rem 0.1rem 0.3rem 0.1rem brown;
    width: 20%;
    justify-content:right;
    align-items:right ;
    margin: 10px auto;
    padding: 10px 10px;
}
.btn-creer{
    background-color:rgb(46, 185, 21);
    color: black;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
    border: none;
    box-shadow: 0.1rem 0.1rem 0.3rem 0.1rem ;
}
.rechercher{
     
    width: 20%;
    cursor: pointer;
    border: none;
    box-shadow: 0.1rem 0.1rem 0.3rem 0.1rem ;
    justify-content: right;
    background-color: darkgreen;


	
}
.search{
    width: 40%;
    cursor: pointer;
    border: none;
    box-shadow: 0.1rem 0.1rem 0.3rem 0.1rem ;
    justify-content: right;


}
.containers{
    background-color:white;
}
.card-horizontal{
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 60% ;
    margin: 20px auto;
    padding: 20px 20px;

    
}
h3{
    justify-content: center;
    align-items: center;
    text-align: center; 
}
.col-s6-m4{
    justify-content: center;
    align-items: center;
    
}
